# Ignore compiled binaries
*.o
*.out
*.exe
*.bin
*.txt
gateway_app
mock_sensor_app

# SSH keys
id_ed25519*
ssh-agent*
ssh-keygen*
eval*


# Ignore Python cache
__pycache__/
*.pyc
.python-version
venv/

# Ignore VS Code settings and extensions
.vscode/

# Ignore System files
.DS_Store